{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Logout | CSV Generator</title>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
  <div class="m-3">
    <form method="post">
    {% csrf_token %}
      <div class="mb-3">
         <div class="mx-auto">
            <h1 class="text-center">
              Logged out
            </h1>
         </div>
      </div>

      <div class="mb-3">
         <div class="mx-auto">
            <h4 class="text-center">
              Thanks for spending some quality time with the web site today.
            </h4>
         </div>
      </div>

      <div class="mb-3 text-center">
         <div class="col-12 mx-auto">
            <a
                href="{% url 'csv_generator:login' %}"
                class="btn btn-success btn-lg"
            >
              Log in again
            </a>
         </div>
      </div>
    </form>
    <br>
  </div>
{% endblock %}
